.home-banner{
    height : 90vh;
    background-image : url('../images/banner.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.yellow-btn, .white-btn{
    background-color : #FDC91E;
    color : #D50505;
    padding : 12px 30px;
    border-radius : 30px;
    font-size : 14px;
    font-weight : 500;
}
.white-btn{
    background-color : #FFF;
    color : #000;
    max-width : 20%;
    width : 100%;
    font-family : 'semi bold';
    text-align : center;
}
.appointment-form{
    width : 100vw;
    bottom : -200px;
}

.form-details{
    width : 80vw;
    background-color :  #E74C3C;
    padding : 30px 100px;
    border-radius : 10px;
}

.appointment-form-input input, .appointment-form-input select{
    max-width : 20vw;
    width : 100%;
    margin : 12px 0px;
    padding : 10px 10px;
    border-radius : 5px;
}


.specialist-card{
    box-shadow: 0px 4px 20px rgba(16, 16, 16, 0.05);
    max-width : 23%;
    width : 100%;
    border-radius : 10px;
}

.specialist-card-img {
    max-width : 120px;
    width : 100%;
    max-height : 120px;
    height : 100%;
    padding : 20px;
    border-radius :80px;
    margin : 40px 0px;
}

.specialist-card-img img{
    width : 80px;
    height : 80px;
}

.video-slider{
    margin : 60px;
}
.swipe-left-btn, .swipe-right-btn{
    background-color : #9C9C9C;
    height : 40px;
    width : 50px;
    display : flex;
    justify-content : center;
    align-items : center;
    color : #fff;
    font-size : 20px;
    cursor : pointer;
}

.swipe-right-btn{
    background-color : #E74C3C;
}

.light-red-btn{
    color : #ffffff;
    background-color : #E74C3C;
    padding : 10px 30px;
    font-size : 18px;
    border-radius : 3px;
}

.service-card{
    max-width : 260px;
    width : 100%;
    background-color : #ffffff;
    margin : 20px 10px;
    border-radius : 10px;
}

.service-card-img img{
    max-width : 260px;
    width : 100%;
}

.speciality-card{
  border-radius: 10px;
  margin: 20px 0px;
}

.our-team{
   background-image : url('../../src/images/stethoscope.png');
  
  background-position:   bottom 200px left 150px ; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 320px 320px;
}

.ba-red-btn, .ba-white-btn{
    color : #ffffff;
    background-color : #E74C3C;
    padding : 8px 20px;
    font-size : 14px;
    border-radius : 3px;
    
}

.ba-white-btn{
    color : #000;
    background-color : #fff;
}

.our-blogs{
    background-color : rgba(255, 255, 255, 0.8);
}

.patient-reviews{
    position : relative;
    background-color : #EBEEF3;
    background-image : url('../../src/images/patient-review-bg.png');
  
  background-position:  center ; 
  background-repeat: no-repeat; 
  background-size: 90%;
}

.testimonial-img img{
    max-height : 70px;
    max-width : 70px;
    margin : 30px 0px;

}

.testmonial-floating-img{
    position : absolute;
    transition : transform 0.2s;
}

.testmonial-floating-img:hover{
    opacity : 0.7;
    cursor : pointer;
    transform : scale(1.2);
}

.test1{
    max-height : 40px;
    max-width : 40px;
    top : 20%;
    left : 10%;
}

.test2{
    max-height : 40px;
    max-width : 40px;
    top : 25%;
    left : 25%;
}

.test3{
    max-height : 25px;
    max-width : 25px;
    top : 40%;
    left : 15%;
}

.test4{
    max-height : 40px;
    max-width : 40px;
    top : 60%;
    left : 10%;
}

.test5{
    max-height : 25px;
    max-width : 25px;
    top : 60%;
    left : 25%;
}

.test6{
    max-height : 40px;
    max-width : 40px;
    top : 25%;
    right : 10%;
}

.test7{
    max-height : 40px;
    max-width : 40px;
    top : 20%;
    right : 25%;
}

.test8{
    top : 40%;
    right : 15%;
}

.test9{
    top : 60%;
    right : 10%;
}

.test10{
    top : 60%;
    right : 25%;
}

.blog-card-main{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius : 20px;
}

.blog-card-secondary{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius : 10px;
}