.home-banner{
    height : 90vh;
    background-image : url('../images/banner.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.yellow-btn, .white-btn{
    background-color : #FDC91E;
    color : #D50505;
    padding : 12px 30px;
    border-radius : 30px;
    font-size : 14px;
    font-weight : 500;
    font-family: gilroy;
    font-weight: 700;
    /* letter-spacing: 1px; */
}
.yellow-btn2{
    width: 230px;
    height: 50px;
    font-size: 15.5px !important;
}
.check{
    font-family: gilroy;
    font-weight: 700;
    font-size: 27px;
}
.aplit-form select,
.aplit-form input{
    font-family: gilroy;
    font-size: 14.5px;
    color: #000;
}
.aplit-form input::placeholder{
    font-family: gilroy;
    font-size: 14.5px;
    color: #000000 !important;
}
.yellow-btn5{
    font-family: gilroy !important;
    color: #000000;
    font-weight: 700 !important;
    font-size: 16.5px;
}
.destination{
    color: #222F3E;
    font-size: 56px;
    font-family: gilroy !important;
    font-weight: 700;
}
.major-h{
    color: #222F3E;
    font-family: gilroy !important;
    font-size: 22.5px;
}
.frest{
    color: #222F3E;
    font-family: "Medium";
    font-size: 24px;
}
.please-all{
    color: #ffffff;
    font-family: "Semi Bold"; 
    font-size: 14px;
}
.specilist{
    font-family: gilroy !important;
    font-weight: 700;
}
.lorem{
    font-family: "Semi Bold";
    font-size: 18px;
    color: #222F3E !important;
}
.spet-tit{
    font-family: "Semi Bold";
    font-size: 27.5px;
}
.stories1{
    font-family: gilroy !important;
    font-weight: 700;
    font-size: 30px;
}
.healths{
    font-family: gilroy !important;
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
}
.our-sery{
    font-family: gilroy !important;
    font-weight: 700;
    color: #222F3E;
    font-size: 34px;
}
.our-fery{
    font-family: "Semi Bold";
    font-size: 18px;
    color: #222F3E !important; 
}
.service_nam{
    font-family: "Semi Bold";
    font-size: 22px;
    color: #101010 !important; 
    text-align: initial;
}
.service_des{
    font-family: "Medium";
    font-size: 14.5px;
    text-align: initial;
    line-height: 17px;
}
.patient-stories-section{
    text-align: initial;
}
.gil{
    font-family: gilroy !important;
    color: #222F3E;
    font-size: 22px;
}
.light-red-btn1{
    width: 240px !important;
    max-width: 100%;
}
.white-btn{
    background-color : #FFF;
    color : #000;
    max-width : 20%;
    width : 100%;
    font-family : 'semi bold';
    text-align : center;
}
.appointment-form{
    width : 100vw;
    bottom : -250px;
}

.form-details{
    width : 80vw;
    background-color :  #E74C3C;
    padding : 30px 100px;
    border-radius : 10px;
}

.appointment-form-input input, .appointment-form-input select{
    max-width : 20vw;
    width : 100%;
    margin : 12px 0px;
    padding : 10px 10px;
    border-radius : 5px;
    outline: none;
}

@media not all and (min-width: 1024px) {
    .appointment-form{
    width : 100vw;
    bottom : -220px;
    }

    .form-details{
    padding : 30px 50px;
    }

    .appointment-form-input input, .appointment-form-input select{
    max-width : 22vw;
}

.white-btn{
    max-width : 30%;
}
}

@media not all and (min-width: 768px) {
    .appointment-form{
    width : 100vw;
    bottom : -250px;
    }

    .form-details{
    padding : 30px 30px;
    }

.white-btn{
    max-width : 40%;
}
}

@media not all and (min-width: 640px) {
    .appointment-form{
    width : 100vw;
    bottom : -680px;
    }

    .yellow-btn, .white-btn{
    max-width : 100%;
    width : 100%;
}
.white-btn{
    background-color : #FFF;
    color : #000;
    font-family : 'semi bold';
    text-align : center;
}

.appointment-form-input input, .appointment-form-input select{
    max-width : 100%;
}
}

@media not all and (min-width: 425px) {
    .appointment-form{
    width : 100vw;
    bottom : -700px;
    }

    .yellow-btn, .white-btn{
    max-width : 100%;
    width : 100%;
}
.white-btn{
    background-color : #FFF;
    color : #000;
    font-family : 'semi bold';
    text-align : center;
}

.appointment-form-input input, .appointment-form-input select{
    max-width : 100%;
}
}
.specialist-card{
    box-shadow: 0px 4px 20px rgba(16, 16, 16, 0.05);
    max-width : 23%;
    width : 100%;
    border-radius : 10px;
    margin-bottom : 30px;
    cursor: pointer;
    min-width : 250px;
}

@media not all and (min-width: 768px) {
    .specialist-card{
        max-width : 100%;
        width : 100%;
        margin : 10px 0px;
        min-width : 0px;
    }
}

@media not all and (min-width: 425px) {
    .specialist-cards{
        margin : 50px 20px;
        padding : 0px;
        
    }
}

.specialist-card-img {
    max-width : 120px;
    width : 100%;
    max-height : 120px;
    height : 100%;
    padding : 20px;
    border-radius :80px;
    margin : 40px 0px;
}

.specialist-card-img img{
    width : 80px;
    height : 80px;
}

.video-slider{
    margin : 60px;
}
.swipe-left-btn, .swipe-right-btn{
    background-color : #9C9C9C;
    height : 40px;
    width : 50px;
    display : flex;
    justify-content : center;
    align-items : center;
    color : #fff;
    font-size : 20px;
    cursor : pointer;
}

.swipe-right-btn{
    background-color : #E74C3C;
}

@media not all and (min-width: 425px) {
    .swipe-left-btn, .swipe-right-btn{
    height : 30px;
    width : 40px;
    font-size : 14px;
}
}

.light-red-btn{
    color : #ffffff;
    background-color : #E74C3C;
    padding : 10px 30px;
    font-size : 18px;
    border-radius : 3px;
    width: 240px !important;
}
.light-red-btn1{
    width: 240px;
}

.service-card{
    max-width : 260px;
    width : 100%;
    background-color : #ffffff;
    margin : 20px 10px;
    border-radius : 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.serv-btn{
    font-family: gilroy;
    font-weight: 700; 
    background-color: #E74C3C !important;
}
.certified{
    font-family: gilroy;
    font-weight: 700; 
    color: #000000;
    font-size: 42px;
    line-height: 45px;
}
.lead-8{
    font-family: "Medium";
    font-size: 22px;
    color: #222F3E;
}
.mr-btn{
    font-family: "Semi Bold";
    font-size: 12.5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.testi{
    font-family: gilroy;
    font-weight: 700; 
    font-size: 10px;
}
.satisfied{
    font-family: gilroy;
    font-weight: 700; 
    font-size: 38px;
}
.ita{
    color: #000000;
    font-family: "Medium Italic";
    font-size: 16.5px;
    line-height: 17px;
}
@media not all and (min-width: 425px) {
    .service-cards{
        margin : 50px 0px;
        padding : 0px;
        
    }
}

.service-card-img img{
    max-width : 260px;
    width : 100%;
}

.speciality-card{
  border-radius: 10px;
  margin: 20px 0px;
}

.our-team{
   background-image : url('../../src/images/stethoscope.png');
  background-position:   bottom 200px left 150px ; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 320px 320px;
  background-color: #f5f5f5;
}

.ba-red-btn, .ba-white-btn{
    color : #ffffff;
    background-color : #E74C3C;
    padding : 8px 20px;
    font-size : 14px;
    border-radius : 3px;
    
}

.ba-white-btn{
    color : #000;
    background-color : #fff;
}

.our-blogs{
    background-color : rgba(255, 255, 255, 0.8);
}

.patient-reviews{
    position : relative;
    background-color : #EBEEF3;
    background-image : url('../../src/images/patient-review-bg.png');
  
  background-position:  center ; 
  background-repeat: no-repeat; 
  background-size: 90%;
}

.testimonial-img img{
    max-height : 70px;
    max-width : 70px;
    margin : 30px 0px;

}

.testmonial-floating-img{
    position : absolute;
    transition : transform 0.2s;
}

.testmonial-floating-img:hover{
    opacity : 0.7;
    cursor : pointer;
    transform : scale(1.2);
}

.test1{
    max-height : 40px;
    max-width : 40px;
    top : 20%;
    left : 10%;
}

.test2{
    max-height : 40px;
    max-width : 40px;
    top : 25%;
    left : 25%;
}

.test3{
    max-height : 25px;
    max-width : 25px;
    top : 40%;
    left : 15%;
}

.test4{
    max-height : 40px;
    max-width : 40px;
    top : 60%;
    left : 10%;
}

.test5{
    max-height : 25px;
    max-width : 25px;
    top : 60%;
    left : 25%;
}

.test6{
    max-height : 40px;
    max-width : 40px;
    top : 25%;
    right : 10%;
}

.test7{
    max-height : 40px;
    max-width : 40px;
    top : 20%;
    right : 25%;
}

.test8{
    top : 40%;
    right : 15%;
}

.test9{
    top : 60%;
    right : 10%;
}

.test10{
    top : 60%;
    right : 25%;
}

.blog-card-main{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius : 20px;
}

.blog-card-secondary{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius : 10px;
}

@media only screen and (max-width:640px){
    .destination{
        font-size: 40px;
    }
    .test7{
        display: none;
    }
    .test2{
        display: none;
    }
    .test10{
        display: none;
    }
    .test5{
        display: none;
    }
}