@tailwind base;
@tailwind components;
@tailwind utilities;

/* #app { height: 100% } */

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-pop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0004;
  z-index: 1000;
  overflow: auto;
}
.home-pop::-webkit-scrollbar{
  display: none;
}
.popup-container {
  max-width: 675px;
  width: 100%;
  background: white;
  padding: 0px 0px;
  border-radius: 10px;
  margin: 150px auto;

}
.popup-container h2{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.popup-container .apo{
  background-color: #FCD44B;
  padding: 20px 0px;
  border-radius: 10px;
}
.intle img{
  width: 15px;
}
.home-pop .intle{
  color: #ffffff;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  font-size: 20px;
  /* top: 1.5rem; */
  z-index: 90;
  /* right: 25rem; */
  cursor: pointer;
  left: 68%;
  top: 205px;
}
.popup-container form{
  width: 100%;
  padding: 30px 70px;
}
.popup-container form input,
.popup-container form select{
  border-bottom: 1px solid #BCBABA;
  outline: none;
  color: #222F3E;
  font-family: "Medium";
  font-size: 19.5px;
}
.popup-container form input[type="date"]{
  border-bottom: 1px solid #BCBABA;
  outline: none;
  color: #222F3E;
  font-family: "Medium";
  font-size: 19.5px;
}
.popup-container form label{
  color: #222F3E;
  font-family: "Medium";
  font-size: 19.5px;
}
.label2{
  font-family: gilroy;
  font-weight: 700;
}
.popsub{
  background-color: #E74C3C;
  width: 170px;
  height: 40px;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  color: #ffffff;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
}
.contact-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  background-image: url('./images/group.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.contact-back .sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sect h2{
  color: #ffffff;
  font-family: gilroy;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
}
.any-question{
  padding: 60px 160px;
}
.contact-header{
  overflow: hidden;
}
.contact-header h2{
   color: #222F3E;
   font-family: gilroy;
   font-weight: 700;
   font-size: 25px;
   text-align: center;
   letter-spacing: 1px;
}
.contact-header p{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 10px;
}
.two-side-cont{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.two-side-cont label{
  color: #000;
  position: relative;
  top: 40px;
  font-family: gilroy;
   font-weight: 700;
   font-size: 16px;
   padding: 0 20px;
}
.two-side-cont input::placeholder,
.two-side-cont textarea::placeholder{
  color: #222F3E;
  font-size: 12px;
  font-family: "Medium";
  position: relative;
  top: 8px;
}
.input-fields1{
  margin-right: 20px;
}

.textarea1 textarea::placeholder{
  font-size: 16.5px;
  font-family: "Medium";
}
.input-fields1 input,
.input-fields1 select,
textarea{
  border: 1px solid rgba(191, 191, 201, 0.5);
  outline: none;
  width: 500px;
  height: 70px;
  max-width: 100%;
  border-radius: 5px;
  padding: 0 20px;
}

.input-fields1 select{
 margin-top: 10px;
}
.textarea1{
  margin-left: 20px;
}
.textarea1 textarea{
  border: 1px solid rgba(191, 191, 201, 0.5);
  outline: none;
  max-width: 100%;
  height: 375px;
  resize: none;
  width: 500px;
}
.footer{
  padding: 40px 60px;
}
footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.first-foot h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18px;
}
.first-foot h4{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 16px;
}
.foot-para{
  margin-top: 16px;
}
.foot-para p{
  color: #222F3E;
  font-family: "Medium";
  opacity: 0.7;
  font-size: 15px;
  margin: 6px 0px;
}
.second-foot h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18px;
}
.third-foot h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18px;
}
.fourth-foot h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18px;
}
.select-foot{
  margin-top: 22px;
}
.select-foot select{
  border: 1px solid #E2E2E4;
  width: 280px;
  max-width: 100%;
  height: 60px;
  border-radius: 10px;
  font-family: gilroy;
  font-weight: 600;
  font-size: 14.5px;
  color: #484848;
  padding: 0 15px;
  letter-spacing: .5px;
  outline: none;
}
.hours{
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 60px;
  width: 280px;
  border-radius: 10px;
  max-width: 100%;
  padding: 0px 15px;
}
.hours1{
  background-color: #E65344;
  border: 1.5px solid #00B9F2;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
}
.hours1 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 13px;
}
.hours-text{
  margin-left: 10px;
}
.hours-text p{
 line-height: 18px;
  color: #E65344;
  font-family: gilroy;
  font-weight: 700;
  font-size: 14px;
}
.hours-text span{
  color: #484848;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
}
.appoint-req{
  margin-top: 45px;
}
.appoint-req button{
  border: 2px solid #E65344;
  width: 270px;
  height: 42px;
  border-radius: 20px;
  color: #E65344;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.logo-foot{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}
.logo-foot img{
  width: 150px;
}
.social-link{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.social-link img{
  width: 22px;
}

/* ===============fedback css============= */
.feedback-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  background-image: url('./images/feedback1.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.feedback-back .sect-fed{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sect-fed h2{
  color: #ffffff;
  font-family: "Semi Bold";
  font-size: 50px;
  letter-spacing: 1px;
}
.share-feed{
  padding: 40px 120px;
}
.share-feed h2{
  color: #000000;
  font-family: "Semi Bold";
  font-size: 24px;
  text-align: center;
}
.share-feed p{
  color: #000000;
  font-family: "Medium";
  font-size: 22px;
  text-align: center;
}
.shadow-feed{
  background-color: #EAEAEA;
  border-radius: 15px;
  width: 100%;
  padding: 40px 30px;
  margin-top: 45px;
  /* height: 460px; */
}
.shadow-feed input{
  width: 100%;
}
.shadow-feed input[type="radio"]{
  width: 20px;
  display: block;
  margin: auto;
  height: auto;
  margin-top: 10px;
}
.shadow-feed .two-side-cont{
  margin-top: 0px !important;
}
.shadow-feed .two-side-cont .input-fields1{
  margin-right: 30px;
}
.shadow-feed .two-side-cont .textarea1{
  margin-left: 30px;
}
.shadow-feed .textarea1 textarea{
  width: 630px;
max-width: 100%;
 height: 265px;
 border: 1.6px solid rgba(112, 112, 112, 0.46);
}
.shadow-feed .textarea1 textarea::placeholder{
  font-size: 18px;
  letter-spacing: 0.5px;
}
.lett{
  background-color: #FFFFFF;
  padding: 20px 30px;
  border-radius: 5px;
}
.diff-sut{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.diff-sut img{
  width: 36px;
  display: block;
  margin: auto;
}
.diff-sut h4{
  text-align: center;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
  margin-top:5px;
}
.feed-btn{
  text-align: right;
  margin-top: 30px;
}
.feed-btn button{
  background-color: #E74C3C;
  font-family: gilroy;
  font-weight: 700;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
}

/* ================feedback css end============ */

/* ==================cardioLogy css=================== */
.cardio-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  background-image: url('./images/womanapp.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.cardio-sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.cardio-sect h2{
  font-family: gilroy;
  font-weight: 700;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: .5px;
}
.sing{
  border-bottom: 1px solid #BCC5C7;
  width: 280px;
  max-width: 100%;
  outline: none;
}
.pyo{
  border-bottom: 1px solid #BCC5C7;
  width: 200px;
  max-width: 100%;
  outline: none;
  margin-left: 20px;
}
.second-nsp{
  margin-left: 80px;
}
.second-nsp p{
  color: #000000;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
}
.areas{
  color: #E74C3C;
}
.filter{
  padding: 30px 60px;
}
.filter-group{
  margin-left: 15px;
}
.igh{
  padding: 15px;
}
.sard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card{
  border-radius: 10px;
  margin: 8px 10px;
  width: 23.5%;
}
.card .main-img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.name-card{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.text-card h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 19px;
}
.text-card p{
  color:#222F3E ;
  font-family: "Medium"; 
  font-size: 15px;
  line-height: 12px; /* pehle 16*/
  margin-top: 6px;
}
.viwe-profile p{
  color: #E74C3C;
  font-family: gilroy;
  font-weight: 700;
  font-size: 13px;
}
.card hr{
  margin-top: 10px;
}
.information-doc h3{
  color: #000000;
  font-family: "Semi Bold";
  font-size: 16.5px;
}
.information-doc p{
  color: #000000;
  font-size: 13px;
  font-family: "Medium"; 
}
.tara{
  margin-top: 12px;
}
.tara img{
  width: 15px;
}
.card button{
  width: 100%;
  background-color: #E74C3C;
  color: #ffffff;
  height: 40px;
  border-radius: 30px;
  font-family: gilroy;
  font-weight: 700;
  font-size: 13.5px;
  margin-top: 20px;
}
.information-doc{
  margin-top: 10px;
}

/* ======================cardiology css end================== */

/* =================navbar css start============= */
.first-nav P{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 13.5px;
}
.second-nav p{
  color: #222F3E;
  font-family: "Semi Bold" !important;
  font-size: 15.5px !important;
}
.major-para{
  color: #222F3E;
  font-family: gilroy;
  font-size: 23px;
}
.destination-para{
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 60px;
  line-height: 55px;
  color: #222F3E;
}
.trust-hos{
  font-family: "Medium";
  font-size: 23px;
  color: #222F3E;
  line-height: 25px;
}
.yellow-btn1{
  font-family: gilroy !important;
  font-weight: 700 !important;
  color: #D50505 !important;
  font-size: 16px !important;
}
.yellow-btn5{
  width: 350px;
  text-align: center;
  color: #000000 !important;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 17px !important;
}
/* =================navbar css end================= */

/* =======================book health================= */
.cardio-check{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38vh;
  background-image: url('./images/health.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.second-nsp1{
  margin-left: 48px;
}
.second-nsp1 select{
  width: 280px;
  max-width: 100%;
}
.health-card h3{
  color: #000000;
  font-family: "Semi Bold" !important;
  font-size: 26px;
  text-align: center;
}
.health-card{
  padding: 40px 80px;
}
.health-sard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.health-sard .health-box{
   margin: 0px 15px;
   width: 25%;
}
.health-box img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.health-box{
  border-radius: 10px;
  position: relative;
}
.health-box h2{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 25px;
}
.health-box p{
  color: #222F3E;
  font-family: "Medium";
  font-size: 15.5px;
  line-height: 18px;
}
.health-box .off{
  position: absolute;
  left: 83%;
  background-color: #E74C3C;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.off p{
 color: #FFFFFF;
 font-family: "Medium";
 font-size: 12px;
 line-height: 13px;
}
.health-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.health-btn .know_more{
  width: 150px;
  background-color: #FDC91E;
  height: 40px;
  border-radius: 30px;
  color: #E74C3C;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 14px;
}
.health-btn .book_more{
  width: 150px;
  background-color: #E74C3C;
  height: 40px;
  border-radius: 30px;
  color: #FFFFFF;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 14px;
}
.health-sox{
  padding: 15px;
}
.para-he{
  margin-top: 3px;
}
.tigh{
  display: block;
 
}
.systen{
  cursor: pointer;
}
.systen:hover.tigh{
  display: flex;
  cursor: pointer;
}
/* ==================end=========================== */

/* =============iodolgy start========== */
.iodolgy-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38vh;
  background-image: url('./images/iodology.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.iodo-sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.iodo-sect h2{
  color: #ffffff;
  font-family: gilroy;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
}
.iodology-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 80px;
}
.first-iodo{
  width: 38em;
  margin-right: 120px;
}
.first-iodo h2{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700 !important;
  font-size: 21px;
}
.first-iodo h3{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 33px;
  line-height: 38px;
  margin-top: 10px;
}
.first-iodo p{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 15px;
  margin-top: 15px;
}
.first-iodo button{
  background-color: #E74C3C;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 19px;
  width: 270px;
  height: 50px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 36px;
}
.second-iodo{
  margin-left: 120px;
}
.second-iodo img{
  /* height: 420px; */
  width: 600px;
  max-width: 100%;
}
.aim{
  background-color: #FDF3F3;
  padding: 30px;
  padding: 40px 140px;
}
.aim h2{
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 35px;
  color: #222F3E;
}
.aim p{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 15px;
  margin-top: 20px;
}
.achieve-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38vh;
  background-image: url('./images/feedback1.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.achive-sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.achive-sect h2{
  color: #ffffff;
  font-family: "Semi Bold";
  font-size: 50px;
  letter-spacing: 1px;
}
.second-iodo1{
  margin-right: 80px;
  margin-left: 0px !important;
}
.second-iodo1 img{
  width: 650px;
  max-width: 100%;
}
.first-iodo1{
  margin-left: 80px;
  margin-right: 0px !important;
}
.img-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 80px;
}
.img-section img{
  margin: 0px 10px;
  max-width: 420px;
  width: 100%;
}
.what-expert{
  padding: 40px 80px;
}
.what-expert h2{
  color: #000000;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 34px;
  text-align: center;
}
.what-expert p{
  color: #222F3E;
  font-family: "Medium";
 font-size: 22px;
 text-align: center;
}
.women-section{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
  position: relative;
}
.wo-img{
  margin: 0 10px;
  position: relative;
}
.wo-img .imhk{
  position: absolute;
  z-index: 10000;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  filter: brightness(100%);
  width: 60px;
}
.wo-img img{
  filter: brightness(.5);
  width: 645px;
  /* max-width: 100%; */
}
/* ===============iodolgy end=============== */

/* ================cardilogy details page=============== */
.details-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 58vh;
  background-image: url('./images/details.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 65px;
}
.details-sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.details-sect h2{
  font-size: 50px;
  font-family: "Bold";
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}
.doctor-det{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  position: absolute;
  bottom: -80px;
  
}
.img-mah img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #AFBCC0;
  /* object-position: right; */
}
.card-details{
  border: 1px solid #EDF1F2;
  display: flex;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.appoint-desc{
  display: flex;
  align-items: center;
}
.appoint-desc img{
  width: 35px;
}
.appo-para{
  margin-left: 6px;
}
.appo-para h3{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 18.5px;
  letter-spacing: .5px;
}
.appo-para p{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 16.5px;
  line-height: 16px;
  letter-spacing: .5px;
}
.call-det{
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.call-det img{
  width: 25px;
}
.call-det p{
  margin-left: 6px;
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 16.5px;
  line-height: 16px;
  letter-spacing: .5px;
}
.buttpn-group{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.buttpn-group .bookst{
  background-color: #E74C3C;
  width: 230px;
  height: 45px;
  border-radius: 30px;
  color: #FFFFFF;
  font-family: gilroy !important;
  font-weight: 700 !important;
  cursor: pointer;
  font-size: 15px;
}
.buttpn-group .mes{
  width: 175px;
  height: 45px;
  border: 2px solid #E74C3C;
  border-radius: 30px;
 color: #E74C3C;
 font-family: gilroy !important;
 font-weight: 700 !important;
 cursor: pointer;
 font-size: 15px;
 margin-left: 10px;
}
.or{
  position: relative;
  margin-left: 20px;
}
.or .or1{
  border: 1px solid #AFBCC0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  z-index: 100;

}
.or hr{
  transform: rotate(90deg);
  border: .2px solid #AFBCC0;
  position: relative;
  top: -13px;
  opacity: 0.5;
}
.or .sd{
  top: 13px;
}
.or1 p{
  font-family: gilroy !important;
 font-weight: 700 !important;
 font-size: 12px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.expert-ret{
  padding: 90px 100px;
}
.expert-det{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expert-first h2{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 34px;
}
.expert-first .asoc{
  color: #000000;
  font-family: "Semi Bold";
  font-size: 23px;
}
.expert-first .asoc1{
  color: #000000;
  font-family: "Medium" !important;
  font-size: 15px;
}
.certificate{
  margin-left: 40px;
}
.certificate img{
  width: 130px;
}
.rupay{
  margin-top: 10px;
}
.rupay  p{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 38px;
  margin-left: 8px;
}
.rupay img{
  width: 18px;
}
.expert-second h2{
  color: #000000;
  font-family: "Semi Bold";
  font-size: 33px;
  margin-left: 40px;
  height: 20px !important;
  /* text-align: center; */
}
.ghj{
  height: 180px;
  width: 1px;
  border: .5px solid #CAD8DC;
  opacity: 0.5;
}
.aviability-section{
  margin-top: 10px;
}
.aviability-section h3{
  color: #000000;
  font-family: "Semi Bold";
  font-size: 32px;
  opacity: 0.7;
}
.doctor-table{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 15px;
}
.doctor_name h4{
  color: #ffffff;
  text-align: center;
  font-family: "Semi Bold";
  font-size: 18px;
}
.doctor_name td{
   background-color: #333333;
   padding: 20px 30px;
   border: 1px solid #FFFFFF;
}
.doctor_name1 td{
  padding: 20px 30px;
  border: 1px solid #FFFFFF;
}
.doctor_name1 p{
  text-align: center;
  color: #000000;
}
.doctor_name1 .name-doc{
  font-family: "Medium";
  font-size: 17px;
}
.doctor_name1 .name-doc1{
  font-family: "Medium";
  font-size: 13px;
}
.doctor_name1 hr{
  border: 1.5px solid #000000;
  width: 20px;
  opacity: 0.5;
  display: block;
  margin: auto;
}
.tds{
  background-color: #C2DBF7;
  opacity: 0.8;
}
.tds1{
  background-color: #ffffff;
}
.ghk{
  font-size: 50px;
}
.about-rent{
background-color: #FCEDEC;
 padding: 20px 0px;
}
.about-card{
  background-color: #FFFFFF;
  padding: 20px 20px;
  margin: 0px 100px;
  max-width: 1000px;
  width: 100%; 
}
.about-card h3{
  color: #000000;
  font-family: "Bold";
  font-size: 22px;
}
.about-card .hr{
  margin:0px -20px;
  border-bottom: 1px solid #000000;
  opacity: 0.4;
  margin-top: 20px;
  /* height: 0px; */
}
.about-card .about-na{
  font-family: "Medium";
  font-size: 17px;
  color: #000000;
  line-height: 15px;
}
.about-foot{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 15px;
  border-radius: 15px;
}

.abg{
  height: 170px;
  opacity: 0.5;
  border-right: 1px solid #000000;
}
.location-ab{
  display: flex;
  align-items: center;
}
.location-ab img{
  width: 16px;
}
.location-ab p{
  margin-left: 6px;
}
.first-foot1 h2,.second-foot1 h2{
   color: #000000;
   font-family: "Semi Bold";
   font-size: 17px;
   opacity: 0.5;
}
.para-qualify{
  margin-top: 9px;
}
.para-qualify p{
  color: #000000;
  font-family: "Semi Bold";
  font-size: 17px;
  margin: 6px 0px;
}

/* ===============cardilogy details page end=============== */


/* ====================internal medicine css start================== */
.medicine-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:35vh;
  background-image: url('./images/medicine.png'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.medicine-sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.medicine-sect h2{
  color: #ffffff;
  font-family: "Semi Bold";
  text-align: center;
  font-size: 40px;
  letter-spacing: .5px;
}
.about-institute{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  /* position: relative; */
}
.institute{
  /* width: 40em; */
  width: 35em;
  margin-right: 100px;
  margin-top: 30px;
}
.institute h4{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 21px;
}
.institute h2{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 35px;
  line-height: 38px;
  margin-top: 12px;
}
.institute p{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  margin-top: 15px;
  font-size: 15px;
}
.institute-img{
  margin-left: 100px;
  position: relative;
  margin-top: 30px;
}
.institute-img .dov-img{
  /* width: 36em; */
 max-width: 600px;
 width: 100%;
 filter: brightness(.5);
}
.institute-img .sov-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: brightness(100%);
  z-index: 100;
  width: 60px;
}
.word-leader{
  display: flex;
  align-items: center;
  padding: 40px 100px;
  justify-content: center;
  background-color: #FDF3F3;
}
.first-word{
  margin-right: 40px;
}
.first-word{
  position: relative;
}
.rohan{
  position: absolute;
  z-index: 100;
  top: 74%;
  left: 5%;
}
.rohan h3{
  color: #FFFFFF;
  font-family: gilroy;
  font-size: 22px;
  font-weight: 700;
}
.rohan small{
  font-family: gilroy;
  font-weight: 400;
  font-size: 18px;
  opacity: .9;
  color: #FFFFFF;
  line-height: 15px;
}
.rohan p{
  color: #ffffff;
  font-size: 22px;
  font-family: gilroy;
  font-weight: 400;
  opacity: .9;
  margin-top: 5px;
}
.first-word img {
  max-width: 370px;
  width: 100%;
  filter: brightness(.6);
}

.second-word{
  width: 35em;
  margin-left: 40px;
}
.second-word h2{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 34px;
}
.second-word p{
  color: #222F3E;
  font-family: "Semi Bold"; 
  font-size: 15px;
  margin-top: 10px;
}
.second-word h4{
  color: #FF2020;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18.5px;
  text-decoration: underline;
  margin-top: 15px;
}
.treats{
  padding: 40px 100px;
}
.treats img{
  display: block;
  margin: auto;
}
.treats h2{
  color: #222F3E;
  text-align: center;
  font-family: gilroy;
  font-weight: 700;
  font-size: 34px;
  margin-top: 10px;
}
.treats .treats-p{
  text-align: center;
  color: #222F3E;
  font-family: "Semi Bold"; 
  font-size: 15px;
  margin-top: 6px;
}
.lorem{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lorem P{
  color: #222F3E;
  font-family: "Semi Bold"; 
  font-size: 19px;
  text-align: center;
  margin: 0px 24px;
  margin-top: 30px;
}
.treats-back{
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:45vh;
  background-image: url('./images/patient.png'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: darken;
}
.treats-sect h2{
  color: #FFFFFF;
  font-family: gilroy;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}
.treats-sect{
  position: absolute;
  top: 30%;
  left: 50%;
  display: block;
  margin: auto;
  transform: translate(-50%,-50%);
}
.treats-sect p{
  color: #FFFFFF;
  font-family: "Medium"; 
  font-size: 15px;
  text-align: center;
}
.consult{
  background-color: #FDF3F3;
  margin: 0px 70px;
  position: relative;
  top: -100px;
  z-index: 100;
  padding: 40px 15px;
}
.consult .exy{
  text-align: center;
  font-family: gilroy;
  font-weight: 700;
  font-size: 34px;
}
.card1{
  background-color: white;
  width: 29.5%;
  margin: 8px 20px;

}
.success{
  padding: 30px 100px;
  position: relative;
  top: -120px;
  /* background-color: red; */
}
.success h2{
  text-align: center;
  font-family: gilroy;
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  opacity: 0.7;
}
.success p{
  text-align: center;
  font-family: "Semi Bold"; 
  font-size: 15px;
  color: #222F3E;
}
.img-suc {
  margin-top: 40px;
  position: relative;
}
.img-suc .vic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  filter: brightness(100%);
  width: 60px;
}
.img-suc img{
  filter: brightness(.5);
  width: 100%;
}
.see_more{
  text-align: center;
  color: #FF2020 !important;
  font-family: gilroy;
  font-weight: 700;
  text-decoration: underline;
  font-size: 22px;
  margin-top: 40px;
}

/* ==========================internal medicine css end=================== */