@tailwind base;
@tailwind components;
@tailwind utilities;

/* #app { height: 100% } */

html,
body {
  /* position: relative; */
  /* height: 100%; */
  overflow-x: hidden;
}

body {
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-pop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0004;
  z-index: 1000;
  overflow: auto;
}
.home-pop::-webkit-scrollbar{
  display: none;
}
.popup-container {
  max-width: 675px;
  width: 100%;
  background: white;
  padding: 0px 0px;
  border-radius: 10px;
  margin: 150px auto;

}
.popup-container h2{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.popup-container .apo{
  background-color: #FCD44B;
  padding: 20px 0px;
  border-radius: 10px;
}
.intle img{
  width: 15px;
}
.home-pop .intle{
  color: #ffffff;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  font-size: 20px;
  /* top: 1.5rem; */
  z-index: 90;
  /* right: 25rem; */
  cursor: pointer;
  left: 68%;
  top: 205px;
}
.popup-container form{
  width: 100%;
  padding: 30px 70px;
}
.popup-container form input,
.popup-container form select{
  border-bottom: 1px solid #BCBABA;
  outline: none;
  color: #222F3E;
  font-family: "Medium";
  font-size: 19.5px;
}
.popup-container form input[type="date"]{
  border-bottom: 1px solid #BCBABA;
  outline: none;
  color: #222F3E;
  font-family: "Medium";
  font-size: 19.5px;
}
.popup-container form label{
  color: #222F3E;
  font-family: "Medium";
  font-size: 19.5px;
}
.label2{
  font-family: gilroy;
  font-weight: 700;
}
.popsub{
  background-color: #E74C3C;
  width: 170px;
  height: 40px;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  color: #ffffff;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
}
.contact-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  background-image: url('./images/group.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.contact-back .sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sect h2{
  color: #ffffff;
  font-family: gilroy;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
}
.any-question{
  padding: 60px 160px;
}
.contact-header{
  overflow: hidden;
}
.contact-header h2{
   color: #222F3E;
   font-family: gilroy;
   font-weight: 700;
   font-size: 25px;
   text-align: center;
   letter-spacing: 1px;
}
.contact-header p{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 10px;
}
.two-side-cont{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.two-side-cont label{
  color: #000;
  position: relative;
  top: 40px;
  font-family: gilroy;
   font-weight: 700;
   font-size: 16px;
   padding: 0 20px;
}
.two-side-cont input::placeholder,
.two-side-cont textarea::placeholder{
  color: #222F3E;
  font-size: 12px;
  font-family: "Medium";
  position: relative;
  top: 8px;
}
.input-fields1{
  margin-right: 20px;
}

.textarea1 textarea::placeholder{
  font-size: 16.5px;
  font-family: "Medium";
}
.input-fields1 input,
.input-fields1 select,
textarea{
  border: 1px solid rgba(191, 191, 201, 0.5);
  outline: none;
  width: 500px;
  height: 70px;
  max-width: 100%;
  border-radius: 5px;
  padding: 0 20px;
}

.input-fields1 select{
 margin-top: 10px;
}
.textarea1{
  margin-left: 20px;
}
.textarea1 textarea{
  border: 1px solid rgba(191, 191, 201, 0.5);
  outline: none;
  max-width: 100%;
  height: 375px;
  resize: none;
  width: 500px;
}
.footer{
  padding: 40px 60px;
}
footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.first-foot h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18px;
}
.first-foot h4{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 16px;
}
.foot-para{
  margin-top: 16px;
}
.foot-para p{
  color: #222F3E;
  font-family: "Medium";
  opacity: 0.7;
  font-size: 15px;
  margin: 6px 0px;
}
.second-foot h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18px;
}
.third-foot h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18px;
}
.fourth-foot h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 18px;
}
.select-foot{
  margin-top: 22px;
}
.select-foot select{
  border: 1px solid #E2E2E4;
  width: 280px;
  max-width: 100%;
  height: 60px;
  border-radius: 10px;
  font-family: gilroy;
  font-weight: 600;
  font-size: 14.5px;
  color: #484848;
  padding: 0 15px;
  letter-spacing: .5px;
  outline: none;
}
.hours{
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 60px;
  width: 280px;
  border-radius: 10px;
  max-width: 100%;
  padding: 0px 15px;
}
.hours1{
  background-color: #E65344;
  border: 1.5px solid #00B9F2;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
}
.hours1 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 13px;
}
.hours-text{
  margin-left: 10px;
}
.hours-text p{
 line-height: 18px;
  color: #E65344;
  font-family: gilroy;
  font-weight: 700;
  font-size: 14px;
}
.hours-text span{
  color: #484848;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
}
.appoint-req{
  margin-top: 45px;
}
.appoint-req button{
  border: 2px solid #E65344;
  width: 270px;
  height: 42px;
  border-radius: 20px;
  color: #E65344;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.logo-foot{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}
.logo-foot img{
  width: 150px;
}
.social-link{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.social-link img{
  width: 22px;
}

/* ===============fedback css============= */
.feedback-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  background-image: url('./images/feedback1.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.feedback-back .sect-fed{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sect-fed h2{
  color: #ffffff;
  font-family: "Semi Bold";
  font-size: 50px;
  letter-spacing: 1px;
}
.share-feed{
  padding: 40px 120px;
}
.share-feed h2{
  color: #000000;
  font-family: "Semi Bold";
  font-size: 24px;
  text-align: center;
}
.share-feed p{
  color: #000000;
  font-family: "Medium";
  font-size: 22px;
  text-align: center;
}
.shadow-feed{
  background-color: #EAEAEA;
  border-radius: 15px;
  width: 100%;
  padding: 40px 30px;
  margin-top: 45px;
  /* height: 460px; */
}
.shadow-feed input{
  width: 100%;
}
.shadow-feed input[type="radio"]{
  width: 20px;
  display: block;
  margin: auto;
  height: auto;
  margin-top: 10px;
}
.shadow-feed .two-side-cont{
  margin-top: 0px !important;
}
.shadow-feed .two-side-cont .input-fields1{
  margin-right: 30px;
}
.shadow-feed .two-side-cont .textarea1{
  margin-left: 30px;
}
.shadow-feed .textarea1 textarea{
  width: 630px;
max-width: 100%;
 height: 265px;
 border: 1.6px solid rgba(112, 112, 112, 0.46);
}
.shadow-feed .textarea1 textarea::placeholder{
  font-size: 18px;
  letter-spacing: 0.5px;
}
.lett{
  background-color: #FFFFFF;
  padding: 20px 30px;
  border-radius: 5px;
}
.diff-sut{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.diff-sut img{
  width: 36px;
  display: block;
  margin: auto;
}
.diff-sut h4{
  text-align: center;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
  margin-top:5px;
}
.feed-btn{
  text-align: right;
  margin-top: 30px;
}
.feed-btn button{
  background-color: #E74C3C;
  font-family: gilroy;
  font-weight: 700;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
}

/* ================feedback css end============ */

/* ==================cardioLogy css=================== */
.cardio-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  background-image: url('./images/womanapp.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.cardio-sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.cardio-sect h2{
  font-family: gilroy;
  font-weight: 700;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: .5px;
}
.sing{
  border-bottom: 1px solid #BCC5C7;
  width: 280px;
  max-width: 100%;
  outline: none;
}
.pyo{
  border-bottom: 1px solid #BCC5C7;
  width: 200px;
  max-width: 100%;
  outline: none;
  margin-left: 20px;
}
.second-nsp{
  margin-left: 80px;
}
.second-nsp p{
  color: #000000;
  font-family: gilroy;
  font-weight: 700;
  font-size: 15px;
}
.areas{
  color: #E74C3C;
}
.filter{
  padding: 30px 60px;
}
.filter-group{
  margin-left: 15px;
}
.igh{
  padding: 15px;
}
.sard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.card{
  border-radius: 10px;
  margin: 8px 10px;
  width: 23.5%;
}
.card .main-img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.name-card{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.text-card h3{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 19px;
}
.text-card p{
  color:#222F3E ;
  font-family: "Medium"; 
  font-size: 15px;
  line-height: 12px; /* pehle 16*/
  margin-top: 6px;
}
.viwe-profile p{
  color: #E74C3C;
  font-family: gilroy;
  font-weight: 700;
  font-size: 13px;
}
.card hr{
  margin-top: 10px;
}
.information-doc h3{
  color: #000000;
  font-family: "Semi Bold";
  font-size: 16.5px;
}
.information-doc p{
  color: #000000;
  font-size: 13px;
  font-family: "Medium"; 
}
.tara{
  margin-top: 12px;
}
.tara img{
  width: 15px;
}
.card button{
  width: 100%;
  background-color: #E74C3C;
  color: #ffffff;
  height: 40px;
  border-radius: 30px;
  font-family: gilroy;
  font-weight: 700;
  font-size: 13.5px;
  margin-top: 20px;
}
.information-doc{
  margin-top: 10px;
}

/* ======================cardiology css end================== */

/* =================navbar css start============= */
.first-nav P{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700;
  font-size: 13.5px;
}
.second-nav p{
  color: #222F3E;
  font-family: "Semi Bold" !important;
  font-size: 15.5px !important;
}
.major-para{
  color: #222F3E;
  font-family: gilroy;
  font-size: 23px;
}
.destination-para{
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 60px;
  line-height: 55px;
  color: #222F3E;
}
.trust-hos{
  font-family: "Medium";
  font-size: 23px;
  color: #222F3E;
  line-height: 25px;
}
.yellow-btn1{
  font-family: gilroy !important;
  font-weight: 700 !important;
  color: #D50505 !important;
  font-size: 16px !important;
}
.yellow-btn5{
  width: 350px;
  text-align: center;
  color: #000000 !important;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 17px !important;
}
/* =================navbar css end================= */

/* =======================book health================= */
.cardio-check{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38vh;
  background-image: url('./images/health.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.second-nsp1{
  margin-left: 48px;
}
.second-nsp1 select{
  width: 280px;
  max-width: 100%;
}
.health-card h3{
  color: #000000;
  font-family: "Semi Bold" !important;
  font-size: 26px;
  text-align: center;
}
.health-card{
  padding: 40px 80px;
}
.health-sard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.health-sard .health-box{
   margin: 0px 15px;
   width: 25%;
}
.health-box img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.health-box{
  border-radius: 10px;
  position: relative;
}
.health-box h2{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 25px;
}
.health-box p{
  color: #222F3E;
  font-family: "Medium";
  font-size: 15.5px;
  line-height: 18px;
}
.health-box .off{
  position: absolute;
  left: 83%;
  background-color: #E74C3C;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.off p{
 color: #FFFFFF;
 font-family: "Medium";
 font-size: 12px;
 line-height: 13px;
}
.health-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.health-btn .know_more{
  width: 150px;
  background-color: #FDC91E;
  height: 40px;
  border-radius: 30px;
  color: #E74C3C;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 14px;
}
.health-btn .book_more{
  width: 150px;
  background-color: #E74C3C;
  height: 40px;
  border-radius: 30px;
  color: #FFFFFF;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 14px;
}
.health-sox{
  padding: 15px;
}
.para-he{
  margin-top: 3px;
}
.tigh{
  display: block;
 
}
.systen{
  cursor: pointer;
}
.systen:hover.tigh{
  display: flex;
  cursor: pointer;
}
/* ==================end=========================== */

/* =============iodolgy start========== */
.iodolgy-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38vh;
  background-image: url('./images/iodology.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.iodo-sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.iodo-sect h2{
  color: #ffffff;
  font-family: gilroy;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
}
.iodology-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 80px;
}
.first-iodo{
  width: 38em;
  margin-right: 120px;
}
.first-iodo h2{
  color: #222F3E;
  font-family: gilroy;
  font-weight: 700 !important;
  font-size: 21px;
}
.first-iodo h3{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 33px;
  line-height: 38px;
  margin-top: 10px;
}
.first-iodo p{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 15px;
  margin-top: 15px;
}
.first-iodo button{
  background-color: #E74C3C;
  font-family: gilroy !important;
  font-weight: 700;
  font-size: 19px;
  width: 270px;
  height: 50px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 36px;
}
.second-iodo{
  margin-left: 120px;
}
.second-iodo img{
  /* height: 420px; */
  width: 600px;
  max-width: 100%;
}
.aim{
  background-color: #FDF3F3;
  padding: 30px;
  padding: 40px 140px;
}
.aim h2{
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 35px;
  color: #222F3E;
}
.aim p{
  color: #222F3E;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 15px;
  margin-top: 20px;
}
.achieve-back{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 38vh;
  background-image: url('./images/feedback1.png'), radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: darken;
  margin: 0px 80px;
}
.achive-sect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.achive-sect h2{
  color: #ffffff;
  font-family: "Semi Bold";
  font-size: 50px;
  letter-spacing: 1px;
}
.second-iodo1{
  margin-right: 80px;
  margin-left: 0px !important;
}
.second-iodo1 img{
  width: 650px;
  max-width: 100%;
}
.first-iodo1{
  margin-left: 80px;
  margin-right: 0px !important;
}
.img-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 80px;
}
.img-section img{
  margin: 0px 10px;
  max-width: 420px;
  width: 100%;
}
.what-expert{
  padding: 40px 80px;
}
.what-expert h2{
  color: #000000;
  font-family: gilroy !important;
  font-weight: 700 !important;
  font-size: 34px;
  text-align: center;
}
.what-expert p{
  color: #222F3E;
  font-family: "Medium";
 font-size: 22px;
 text-align: center;
}
.women-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}
.wo-img{
  margin: 0 10px;
  position: relative;
}
.wo-img .imhk{
  position: absolute;
  z-index: 10000;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  filter: brightness(100%);
  width: 60px;
}
.wo-img img{
  filter: brightness(.5);
  max-width: 645px;
  width: 100%;
}
/* ===============iodolgy end=============== */